[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
pymongo = "*"
mimesis = "*"
dnspython = "*"
mtools = "*"
psutil = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3"
